body{
font-family:sans-serif;
margin:0;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#111;
color:white;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#f5f5f5;
}

section{
padding:80px 20px;
}

.project{
background:white;
padding:20px;
max-width:600px;
margin:auto;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}